.container {
  width: 800px;
  height: 320px;
  perspective: 1000px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#flip {
  display: none;
}

.card {
  padding: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#flip:not(:checked) + label > .card {
  transform: rotateY(0deg);
  transition: transform 0.7s;
}

#flip:checked + label > .card {
  transform: rotateY(180deg);
  transition: transform 0.7s;
}

.front,.back {
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.front {
  transform: translateZ(4px);
  background: #feb;
}

.back {
  transform: translateZ(-4px) rotateY(180deg);
  padding-top: 1.7rem;
  background-image: url(media/back.png);
  background-size: cover;
  opacity: 0.9;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: "MathJax_SansSerif", sans-serif;
  background: url(media/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%);
}

p {
  padding: 0;
  margin: 0;
  display: inline-block;
  color: #2a2b39;
}

.flip {
  transition: all 0.7s ease;
}

.top {
  height: 50%;
  background: #2a2b39;
}

.top:after {
  position: absolute;
  content: '';
  pointer-events: none;
  left: 50%;
  width: 2em;
  height: 2em;
  transform: translateX(-50%) rotate(45deg);
  bottom: 9em;
  z-index: 10;
  background: inherit;
}

.avatarimg {
  background: #6acd79;
  padding: 0.3%;
  border: 2px solid yellowgreen;
  position: relative;
  pointer-events: none;
  transform: translateX(-50%);
  left: 50%;
  margin-top: .4em;
  font-size: 4em;
  height: 70px;
  width: 120px;
  border-radius: 7px;
  filter: grayscale(70%);
}

.nametroduction {
  margin-top: 2.4em;
  transform: translateY(0);
}

 .name {
  color: #2a2b39;
  font-weight: 400;
  font-size: 3.2em;
  text-align: center;
  position: relative;
  margin-bottom: .35em;
}

.introduction {
  text-align: center;
  color: #2a2b39;
  font-family: 'chilanka', serif;
  font-style: italic;
}

.motif {
  margin-left: 1.7em;
  font-weight: 300;
  transform: translateY(400%);
  color: #2a2b39;
  font-size: 1.7em;
}

.tooltip {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #2a2b39;
  font-weight: 600;
  padding: .5em;
  background: #feb;
  font-family: Kalimati, sans-serif;
  letter-spacing: 1px;
}

/*HOVER ANIMATIONS*/
 .avatarimg, .top, .top:after, .nametroduction, .motif {
  transition: 0.7s all ease-in-out;
}

.front:hover  .avatarimg {
  margin: .15em;
  font-size: 2em;
  border: 3px solid yellowgreen;
  transform: translateX(0);
  left: 0;
  width: 12%;
  height: 10%;
}

.front:hover .top {
  height: 20%;
}

.front:hover  .top:after {
  width: 1.5em;
  height: 1.5em;
  bottom: 16.3em;
}

.front:hover  .nametroduction {
  transform: translateY(250%);
}

.front:hover  .motif {
  transform: translateY(-64%);
}

.icon-box {
  color: #2a2b39;
  font-size: 24px;
  height: 50px;
  width: 50px;
  padding: 5px;
  top: 75px;
  left: 30%;
  display: inline-flex;
  border: 2px solid #2a2b39;
  margin: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  transition: all ease 0.7s;
}

.icon-box:hover {
  box-shadow: inset 0 50px 0 0 #fff;
  border: 2px;
}

h1, h3, h5,.font-a-icons {
  color: #2a2b39;
  font-family: "MathJax_SansSerif", sans-serif;
  margin-left: 30%;
  line-height: 70%;
}

.back h1 {
  margin-top: 2%;
}

h3 {
  font-size: 18px;
  padding-bottom: 15px;
  width: 35%;
  border-bottom: 2px solid #2a2b60;
  font-family: chilanka, serif;
}

.font-a-icons {
  margin-top: 25px;
}

.icon-group {
  margin-top: 8px;
}

h5 {
  color: #2a2b39;
  display: inline-flex;
  font-size: 16px;
}

.back_left {
  background: #2a2b39;
  position: absolute;
  top: 0;
  left: -1rem;
  bottom: 0;
  width: 250px;

}

.back h1,.back h3,.back h5{
  margin-left: 42%;
}

ol{
  list-style: none;
  display: inline-flex;
  padding-right: 65px;

}

ol li{
  border:  2px hidden;
  padding: 0;
  margin: 1px;
}

.list {
  width: 60%;
  height: 43%;
  border: 4px hidden;
  display: inline-flex;
  padding: 0;
  align-content: center;
  justify-content: center;
  margin-left: 40%;
}

ul {
  list-style-type: "\01F48E";
}

.type li{
  margin: 0.1em;
}
